<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664301208583-hgs16q0gp5g11b5ha5c3g2kli9ubd1s0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664301208583-hgs16q0gp5g11b5ha5c3g2kli9ubd1s0</string>
	<key>API_KEY</key>
	<string>AIzaSyCoG0KvGrDletOw8cen6Zu-EG7pJ7PMjoY</string>
	<key>GCM_SENDER_ID</key>
	<string>664301208583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dvliman.r3</string>
	<key>PROJECT_ID</key>
	<string>r3r3-9cda9</string>
	<key>STORAGE_BUCKET</key>
	<string>r3r3-9cda9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664301208583:ios:96a283206670c3cc9856a2</string>
</dict>
</plist>